.RoomForm {
   width: 50%;
   border-style: solid;
   border-radius: 5px;
   padding: 60px;
   margin: auto;
}

.reservation {
  padding: 10px;
}


.date-wrapper {
  width: 200px;
}

.label {
  width: 50px;
  display: inline;
}

.time-wrapper {
  display: flex;
  align-items: center;
}

.timepicker {
  width: 100px;
}

.icon {
  padding: 0px 40px;
}
